@import "utilities/variables";

body {
    margin: 0;
    font-family: $font-family;
    text-rendering: optimizeLegibility;
}

input,
select,
textarea {
    outline: none;
    font-family: $font-family;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

button:active {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-family: $font-family;
}

select {
    cursor: pointer;
}

fieldset {
    border: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
}

strong,
b {
    font-weight: 600;
}
