// Typography
$font-family: Verdana, Geneva, Tahoma, sans-serif;
$font-size-base: 0.85rem;
$line-height-base: 1;

// Colors
$orange: #ff6600;
$silver: #949494;
$black: #000;
$body-bg: #fff;

// Responsiveness
$mobile-large-width: 800px;
$mobile-width: 600px;
$mobile-tiny-width: 300px;
