body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-rendering: optimizeLegibility; }

input,
select,
textarea {
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; }

button::-moz-focus-inner {
  border: 0; }

button:focus {
  outline: 0; }

button:active {
  outline: none;
  border: none; }

button {
  cursor: pointer;
  border: none;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

select {
  cursor: pointer; }

fieldset {
  border: none; }

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0; }

strong,
b {
  font-weight: 600; }

.nav-item, header nav ul.nav li, footer .footer-nav a {
  display: inline-block;
  margin: 0 3px;
  font-size: 0.9em; }
  .nav-item::after, header nav ul.nav li::after, footer .footer-nav a::after {
    content: "|";
    margin-left: 6px; }
  .nav-item:last-of-type::after, header nav ul.nav li:last-of-type::after, footer .footer-nav a:last-of-type::after {
    display: none; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fff; }

.silver-text, footer .search-box-wrap label[for=search-input] {
  color: #949494; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.hidden {
  visibility: hidden; }

section.main-wrapper {
  font-size: 0.85rem;
  background: #f7f5f3;
  width: 85%;
  max-width: 1125px;
  margin: 8px auto; }
  @media screen and (max-width: 800px) and (min-width: 300px) {
    section.main-wrapper {
      width: 100%;
      margin: 0px auto;
      display: block; } }

header {
  background: #ff6600;
  display: flex;
  align-items: center; }
  header div.logo {
    display: flex;
    align-items: center; }
    header div.logo > * {
      font-size: 0.95em; }
    header div.logo .icon {
      color: #fff;
      font-style: normal;
      border: 1px solid;
      width: 18px;
      height: 18px;
      display: inline-block;
      text-align: center;
      margin: 2px;
      text-rendering: optimizeLegibility; }
  header .logo-text {
    font-weight: 600;
    margin: 0 5px 0 3px; }
  header nav {
    flex: 1 1 0; }
    @media screen and (max-width: 800px) {
      header nav {
        padding: 6px; } }
    header nav .nav-items {
      display: inline-block; }
      @media screen and (max-width: 800px) {
        header nav .nav-items {
          display: block; } }
      @media screen and (max-width: 300px) {
        header nav .nav-items {
          display: inline; }
          header nav .nav-items ul.nav {
            display: inline; } }
    header nav ul.nav {
      padding-left: 0; }

a.auth {
  margin-right: 10px;
  font-size: 0.9em; }

.news-wrapper > .news-item {
  display: none; }

ol.news-items-wrapper {
  padding-left: 2.2em;
  font-size: 0.98em; }
  @media screen and (max-width: 800px) and (min-width: 300px) {
    ol.news-items-wrapper {
      font-size: 1.1em; } }
  ol.news-items-wrapper .news-item {
    color: #949494;
    margin-bottom: 0.6em;
    padding-left: 10px;
    position: relative; }
    ol.news-items-wrapper .news-item .news-item-contents {
      margin-left: -12px; }
    ol.news-items-wrapper .news-item::before {
      content: "\25B2";
      color: #aeaeae;
      font-size: 0.8em;
      position: absolute;
      left: -4px;
      top: 2px; }
    ol.news-items-wrapper .news-item .news-link {
      color: #000;
      text-decoration: none !important; }
    ol.news-items-wrapper .news-item .source-link {
      font-size: 0.85em; }
    ol.news-items-wrapper .news-item .news-meta {
      font-size: 0.75em; }
      ol.news-items-wrapper .news-item .news-meta i {
        margin: 0 5px; }
      ol.news-items-wrapper .news-item .news-meta .comments-meta {
        font-style: normal; }
    ol.news-items-wrapper .news-item a:hover {
      text-decoration: underline; }

.news-actions {
  padding: 0 0 1em 2.9em; }

footer {
  border-top: 2px solid #ff6600;
  padding: 1.8%;
  text-align: center; }
  footer .footer-nav {
    justify-content: center;
    font-size: 0.92em; }
  footer .search-box-wrap {
    margin: 1em 0; }
    @media screen and (max-width: 800px) {
      footer .search-box-wrap input {
        width: 90%; } }


/*# sourceMappingURL=index.css.map*/